/* *************************
*                          *
*    SCSS: Color Pallet    *
*                          *
************************* */

// https://coolors.co/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08

/* SCSS HSL */
$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);
$yellow: hsla(57, 91%, 78%, 1);
$red: hsla(0, 73%, 64%, 1);
$purple: hsla(275, 40%, 81%, 1);

// Exporting colors for use in JS
:export {
  white: $white;
  black: $black;
  yellow: $yellow;
  red: $red;
  purple: $purple;
}
