/* *************************
*                          *
*    SCSS: Color Pallet    *
*                          *
************************* */

/* SCSS HSLA */
$yellow: hsla(57, 91%, 78%, 1);
$red: hsla(0, 73%, 64%, 1);
$purple: hsla(275, 40%, 81%, 1);
$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);
$gray_100: #f8f8f8;
$gray_300: #ebebeb;
$gray_500: #dedede;
$gray_700: #bfbfbf;
$gray_900: #a8a8a8;

// Exporting colors for use in JS
:export {
  white: $white;
  black: $black;
  yellow: $yellow;
  red: $red;
  purple: $purple;
  gray_100: $gray_100;
  gray_300: $gray_300;
  gray_500: $gray_500;
  gray_700: $gray_700;
  gray_900: $gray_900;
}
