@import "@styles/colors.module.scss";
@import "@styles/sizes.module.scss";

.wrapper {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  .bg {
    position: absolute;
    margin: -150px 0 0 -150px;
    width: 65vw;
    height: 125vh;
    background-color: $gray_300;
    transform: rotateZ(5deg);
  }
}
