@import "@styles/colors.module.scss";
@import "@styles/mixins.module.scss";
@import "@styles/sizes.module.scss";
@import "@styles/_fonts.module.scss";

.header {
  z-index: 2;
  position: absolute;
  top: 0;
  h2 {
    font-family: "tt_hoves_pro_extrabold";
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    margin: 25px 0 0 25px;
    padding: 0;
    @include sm {
      font-size: 22px;
      margin: 75px 0 0 75px;
    }
  }

  p {
    font-family: "tt_hoves_pro_regular";
    font-size: 14px;
    margin: 0 0 0 25px;
    padding: 0;
    letter-spacing: 2.5px;
    max-width: 170px;
    @include sm {
      font-size: 18px;
      margin: 0 0 0 75px;
      max-width: none;
    }
  }
}
